# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Node
node_modules/
dist/

# Build/asset workspace
.tmp/
